[submodule "common-lander"]
	path = dependencies/common-lander
	url = git@github.com:ProfLander/common-lander.git
	branch = master
[submodule "mcm-builder"]
	path = dependencies/mcm-builder
	url = git@github.com:ProfLander/mcm-builder.git
	branch = master
